$color-primary: #bada55;
$color-primary-light: #7ed56fc2;
$color-primary-dark: #28b485bf;
$color-grey: #777;
$color-grey-mid: rgb(230, 230, 230);
$color-grey-light: rgb(250, 250, 250);
$color-white: #fff;
$color-black: #000;
$color-orangeish: #ffb900;
$color-blueish: #2998ff;
$color-purplicious: #5643fa;
$grid-width: 114rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 6rem;
$font-size-normal: 1.6rem;
$box-shadow-1: 0 1.5rem 2rem rgba(0, 0, 0, 0.15);