.popup {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.544);
    width: 100%;
    height: 100vh;
    z-index: 1003;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    @supports(-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.3);
    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &__close {

        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
        }

        &:hover,
        &:active {
            color: $color-primary-light;
        }
    }

    &__content {
        @include absCenter;
        width: 75%;
        background-color: white;
        box-shadow: $box-shadow-1;
        border-radius: 3px;
        display: table;
        overflow: hidden;
    }

    &__left {
        width: 33.333%;
        display: table-cell;
        vertical-align: middle;
    }

    &__right {
        width: 66.667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 3rem;
        column-count: 2;
        column-gap: 3rem;
        column-rule: 1px solid $color-grey-light;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
}